@keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }
  to {
    transform: translateX(-104%) translateY(-50%);
  }
}
@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(90, 146, 236, 0.4);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(58, 134, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(58, 134, 255, 0);
  }
}